In [23]:
import pandas as pd
import numpy as np
from pathlib import Path

BASEDIR = Path('.').resolve().parent
df = pd.read_csv(str(BASEDIR.joinpath('dataout/HTI/HTI_zonal_stats_National.csv')))
cols = []
for i in range(12):
    i += 1
    if len(str(i)) < 2:
        month = f'sum0{str(i)}'
    else:
        month = f'sum{str(i)}'
    cols.append(month)
#print(cols)
#print(df)
df = df[cols].min()
df.idxmin(axis=1)

'sum04'

In [30]:
country = 'HTI'
min_month = 'sum04'
df = pd.read_csv(BASEDIR.joinpath(f'dataout/{country}/{country}_zonal_stats.csv'))
cols = []
for i in range(12):
    i += 1
    if len(str(i)) < 2:
        month = f'sum0{str(i)}'
    else:
        month = f'sum{str(i)}'
    cols.append(month)
for i in cols:
    
    df.insert(1, f'SoL_obs{i[-2:]}', value=df[i]/df[min_month])
df = df.fillna(value=0)
df.columns.values()

ValueError: cannot insert SoL_obs01, already exists

In [39]:
df = pd.read_csv(BASEDIR.joinpath('dataout/HTI/HTI_zonal_stats.csv'))
cols = ['ADM1']
for i in range(12):
    i += 1
    if len(str(i)) < 2:
        col = f'SoL_obs0{str(i)}'
    else:
        col = f'SoL_obs{str(i)}'
    cols.append(col)
print(cols)
df = df[cols]
df

['ADM1', 'SoL_obs01', 'SoL_obs02', 'SoL_obs03', 'SoL_obs04', 'SoL_obs05', 'SoL_obs06', 'SoL_obs07', 'SoL_obs08', 'SoL_obs09', 'SoL_obs10', 'SoL_obs11', 'SoL_obs12']

,ADM1,SoL_obs01,SoL_obs02,SoL_obs03,SoL_obs04,SoL_obs05,SoL_obs06,SoL_obs07,SoL_obs08,SoL_obs09,SoL_obs10,SoL_obs11,SoL_obs12
0,Artibonite,1.514087,1.429336,1.144546,1.0,0.942676,0.749638,0.923669,0.900407,0.730875,0.821667,0.823528,1.715880
1,Centre,2.944226,5.196755,2.116029,1.0,0.886365,1.240556,0.948706,1.446659,0.981537,1.247200,1.204944,2.538664
2,Grand'Anse,1.625247,1.594675,0.671598,1.0,1.015779,0.890039,0.940335,1.554734,1.089251,0.676529,2.525148,1.930967
3,Nord,1.840450,1.475601,1.833086,1.0,1.878355,1.369118,1.576072,1.392471,1.584350,0.972334,0.746819,1.584960
4,Nord-Est,1.114997,1.205167,1.118247,1.0,1.308059,1.116454,1.239464,1.376765,1.326048,0.875588,0.660334,1.449395
5,Nord-Ouest,1.743405,0.243405,0.000000,1.0,1.500000,0.000000,0.516787,0.000000,0.000000,0.000000,1.061151,0.601918
6,Ouest,1.828311,1.462181,1.448378,1.0,1.484643,1.063136,1.128300,1.219366,1.359576,1.052592,1.249477,2.049588
7,Sud,0.969720,0.696896,0.833460,1.0,0.696745,0.228766,0.512490,0.554883,0.462528,0.674792,0.610144,1.737472
8,Sud-Est,2.991715,2.219570,2.693234,1.0,2.637798,1.101993,1.941409,2.036496,1.903137,1.604853,1.759914,2.743145
9,Nippes,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000